form .avatar {
    width: 55px;
    margin-bottom: 15px;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar .container-avatar,
.pub_image .container-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
}

.navbar .container-avatar img,
.pub_image .container-avatar img {
    width: 100%;
}

.pub_image .panel-heading {
    display: flex;
    align-items: center;
}

.pub_image .data-user {
    font-weight: bold;
}

.pub_image .nickname {
    color: gray;
}

.pub_image .panel-body {
    padding: 0;
}

.pub_image .description {
    padding:  20px;
}

.image-container {
    max-height: 400px;
    overflow: hidden;
    width: 100%;
}

.image-container img {
    width: 100%;
    max-height: 400px;
}